nav ul li{
    text-decoration: none;
    list-style-type: none;
    border: solid 1px black;

}
ul{
    border: solid 3px black;
    background: lightgrey;
    margin: 0;
    padding: 20px;

}

h1{
    font-size: 3rem;
    border: solid 1px black;
    text-align:center;
}


#h2{
    font-size: 2rem;
    border: solid 1px black;
}

#padLi{
    border: solid 1px black;
}

[id$=p], p{
    border:2px solid black;
    display:inline-block;
    padding:0.3rem 1.2rem;
    margin:2rem;
}

#firstp{
    width:80%;
    border: solid 1px black;
}




#list, #holder{
    height:20vw;
  
    /* color: red; */
    border:1px solid blue;
}