nav ul li{
    text-decoration: none;
    list-style-type: none;
    border: solid 1px black;

}
ul{
    border: solid 3px black;
    background: lightgrey;
    margin: 0;
    padding: 20px;

}

#h1{
    font-size: 4rem;
    border: solid 1px black;
}


#h2{
    font-size: 2rem;
    border: solid 1px black;
}

#padLi{
    border: solid 1px black;
}

[id$=p], p{
    border:2px solid black;
    display:inline-block;
    padding:0.3rem 1.2rem;
    margin:2rem;
}

#firstp{
    width:80%;
    border: solid 1px black;
}

#locate, #container, #lists{
    width:90vw;
    min-width: 50px;
    min-height: 50px;
    height:auto;
    background: rgb(211, 211, 211);
    margin:3rem;
    border: solid 1px black;
}


#locateSmaller{
    min-width: 50px;
    min-height: 50px;
    width:40vw;
    height:auto;
    background: lightblue;
    margin:3rem;
    border: solid 1px black;
}

#lists{background:red;
width:30vw;}